

html,body {
  padding:0;
  margin:0;
}
body{
      font-family:"Arial";
      background: url(assets/images/background.jpg) 100% ;
      width: 100%;
      height: 100%;
      color: white;
      background-repeat: no-repeat;
      float: left;
}
.btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: transform .2s;
    cursor: pointer;
    box-shadow: 3px 3px 8px #888888;
}
.btn:hover{
    transform: scale(1.5);
}
#content{
    padding: 15px;
    width: 30%;
    margin-left: 35%;
    float: left;
    background: #000000d9;
    margin-top: 5%;
    display: none;
}
.show{
  display: block!important;

}
.hide{
  display: none !important;
}
.question{
  float: left;
  width: 100%;
  margin: 15px;
  font-size: 18px
}

label{
  float: left;
  width: 100%;
  margin: 5px;
  label : 14px;
}
button {
  width: 240px;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
  height: 40px;
  background: #1167B1;
  color:white;
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
.start{
  margin-top: 200px;
  height: 60px;
}
#result{
  float: left;
  width: calc(100% - 30px);
  margin: 15px;
  font-size: 30px;
  color: white;
  text-align: center;

}
.character{
  width:200px;
  margin-top: 10px;
}

h2{
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 150px;
  font-size: 35px;
}
